

    .chat-message-user{
        display: flex;
        justify-content: end;
        align-items: start;
    }
    
    .chat-message-robot{
      display: flex;
      align-items: start;
    }
    .chat-message-text{
      background-color: rgb(238,238,238);
      padding: 15px 20px;
      border-radius: 10px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      max-width: 300px;
    }

    .chat-message-profile{
      width: 45px;
    }
    .timeContainer{
      display:flex;
    }
    .time{
      color:rgb(99, 112, 112);
      font-size: 12px;
      margin-top: 2px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
